<div class="row">
  <div class="col-md-2" >
  <% if current_user %>
    Signed in as <%= current_user.full_name %> (<%= link_to "Log out", session_path("current"), method: :delete %>)
  <% else %>
    <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_user_path %>
  <% end %>
</div>
  <h1 id= "title" class= "col-md-4 col-md-offset-2">Rotten Mangoes</h1>
  <h2 id = "submit_movie" class = "col-md-3 col md-offset-6" ><%= link_to "Submit a Movie!", new_movie_path %></h2>
</div>
<div class="row">
  <%= render 'search'%>

</div>
<div class="row">
</div>
<div class="row">
    <li class = "movie_list_item"><%= render @movies %></li>
</div>
